@media print {
    @page {
        size: A6 portrait;
        /* margin: 0.2cm 1cm 1cm 1cm; top, right, bottom, left */
        margin: 0;
    }

    /* body {
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    } */

    /* header,
    footer {
        display: none !important;
    } */
}

.page {
    width: 100%;
    height: 100%;
    padding: 5mm;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    page-break-after: always;
}

.logo {
    width: 14rem;
    height: 5rem;
    object-fit: cover;
    margin: 0 auto 8px;
}
