/* @media print { */
/* @page {
        size: A6 portrait;
        margin: 0.2cm 1cm 1cm 1cm; /* top, right, bottom, left */
/* margin: 10mm; */
/* } */

/* body {
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    } */

/* header,
    footer {
        display: none !important;
    } */
/* } */

.page {
    width: 100%;
    height: 100%;
    padding: 10mm;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    page-break-after: always;
}
